[submodule "modules/kohana-pagseguro"]
	path = modules/kohana-pagseguro
	url = git://github.com/madeinnordeste/kohana-pagseguro.git
[submodule "modules/kohana-timthumb"]
	path = modules/kohana-timthumb
	url = git://github.com/madeinnordeste/kohana-timthumb.git
[submodule "modules/kohana-tinyurl"]
	path = modules/kohana-tinyurl
	url = git@github.com:madeinnordeste/kohana-tinyurl.git
[submodule "modules/kohana-twitter"]
	path = modules/kohana-twitter
	url = git@github.com:madeinnordeste/kohana-twitter.git
[submodule "modules/kohana-issuu"]
	path = modules/kohana-issuu
	url = git@github.com:madeinnordeste/kohana-issuu.git
[submodule "modules/kohana-simple-html-dom"]
	path = modules/kohana-simple-html-dom
	url = git://github.com/madeinnordeste/kohana-simple-html-dom.git
